/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
	float: left;
	width: 100%;
}

.logo {
	float: left;
	width: 30%;
}

.navigation {
	float: right;
	width: 65%;
}

.sidebar {
	float: left;
	width: 250px;
}

.main-content {
	float: left;
	width: 100%;
}

.sub-content {
	float: right;
	width: 65%;
}

.sub-content-2 {
	float: right;
	width: 65%;
}

.footer {
	clear: both;
}
