/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	float: left;
	width: 100%;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.main-content {
	float: left;
	width: 100%;
}
/* hint! */

.post {
	float: left;
	margin: 0 auto;
}
/* hint! */

.image {
	float: left;
	width: 150px;
	height: 150px;
}

.post_excerpt {
	float: right;
	width: 80%;
}

